<div class="header">
  <div class="container header_nav">
    <div class="logo"><img src="assets/images/teckat-logo.png" alt="" /></div>
    <div class="nav_data">
      <ul>
        <li
          class="nav_list"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </li>
        <li
          class="nav_list"
          routerLink="/about"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          About
        </li>
        <li class="nav_list">
          <a href="https://teckat.com/" target="_blank">Teckat</a>
        </li>
      </ul>
    </div>
  </div>
</div>
