<div class="home_page">
  <!-- first section start -->
  <div class="first_section content_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 content">
          <h2>The simplest way to Learn..</h2>
          <div class="dot_line"></div>
          <p>Trusted by millions of Students</p>
          <button type="button" class="first_button" routerLink="/about">
            Follow Up
          </button>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12"></div>
      </div>
    </div>
  </div>

  <!-- second section start -->
  <div class="second_section content_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12 image">
          <img src="assets/images/home/left-image.jpeg" alt="Left Image" />
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 content">
          <h2>The simplest way to Learn..</h2>
          <div class="to_right_align">
            <div class="dot_line"></div>
          </div>
          <p>Trusted by millions of Students</p>
          <div class="to_right_align">
            <button type="button" class="first_button" routerLink="/about">
              Follow Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
