.footer_section {
  .contact {
    .social {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon {
        img {
          width: 19px;
          height: 19px;
          color: red;
        }
      }
    }
  }
}
