.footer_section {
  background-color: #3f33e7;
  color: #fff;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .social_contact {
    .social {
      width: 100%;
      margin-top: 25px;
      margin-bottom: 30px;
      display: flex;
      // justify-content: center;
      align-items: center;
      gap: 20px;
      .icon {
        i {
          color: #fff;
          cursor: pointer;
          transition: all 0.2s ease;
          font-size: 25px;

          &:hover {
            color: rgb(217, 217, 228);
          }
        }
      }
    }
  }
  .lists {
    ul {
      list-style: none;
      list-style-type: none;
      padding: 0px;

      li {
        margin-top: 5px;

        a {
          color: #fff;
          text-decoration: none;
          transition: all 0.2s ease;

          &:hover {
            color: rgb(217, 217, 228);
          }
        }
      }
    }
  }
  .contact {
    ul li {
      display: flex;
      gap: 10px;
    }
  }
}

// lower footer start
.lower_footer {
  background-color: #261f80;

  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    p {
      margin: 0px;
    }
  }
}
